
{% load i18n static %}
{# load i18n admin_static #}

<header>
	
	<div class="top">
<span>登录</span>
<span>退出</span>
<span><a href="{% static "manager.html" %}">进入</a></span>
<span>收藏</span>
<span>关于</span>
	</div>

	<div class="nav">
<a><div class="image"><img src="{% static "images/logo.png" %}"></div></a>
<a href="/"

{% if request.path == '/' or request.path == '/index.html' %}
class="active" 
{% endif %}
><div>首页</div></a>

{% for item in navs %}

<script type="text/javascript">
	if("{{request.path}}" == "/article{{item.id}}.html"){
		document.write('<a class="active" href="article{{item.id}}.html"><div>{{item.title}}</div></a>');
	}else{
		document.write('<a href="article{{item.id}}.html"><div>{{item.title}}</div></a>');
	}
</script>
{% endfor %}
	</div>
</header>


